# vi files
*~
.*.swp

# eclipse files
/.build
/.includepath
/.project
/.externalToolBuilders

# build files
blib/
Makefile
MYMETA.yml
pm_to_blib
/MYMETA.json
/Footprintless-Plugin-Atlassian-Confluence*.tar.gz
/Footprintless-Plugin-Atlassian-Confluence*
/*.html
/*.tmp
